content{
    color:aliceblue
}

p{
    
    color:rgb(10, 10, 10);
}

.form-control{
    border-radius: 3px;
    width: 460px;
    margin-left: 540px;

}

.search-icon{
    position: absolute;
    z-index: 10;
    right: 9%;
    top: 15px;          
    color: blue;
}

label{
    color:aliceblue
}

.btn btn-primary{
    padding: 6px 16px;
    height:39px

}


.center{
    display: block;
  
     width: 50px;
  
}
.container py-3{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
}


footer{
    position:absolute;
    bottom: -100px;
    width:100%;
    padding:1px;

  }
  .category{
    display:flex;
  }
  .column justify-content-between{
    display:flex;
  }
  /* .col-xl-3{
    display:flex;

  }
   .card-img-top{
    width: 250px;
    align-content: left;
  }
  .card-body{
    width: 150px;
    text-align: left;
  } 
  .card{
    padding: 140px ;
  }
  .card-title{
    align-content: center;
  } */
  .col-md-8 col-lg-4 col-xl-8{
    align-content: center;
  }

  .content{
    padding: 18px;
  }
  