footer{
    position:absolute;
    bottom: 0px;
    width:100%;
    padding:1px;

  }
  content{
    color:aliceblue;
    
  }
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color:white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position:absolute;
    top:55%;
    left: 30%;
    
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 50%;
    padding: 20px;
    text-align: center;
  }
