
    

  
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img
          src="https://play-lh.googleusercontent.com/tAgbpyJW4Yy3egbm_Kjh1EVfqUSkba1s5g5bitqsUvCqc1acmY08CbuTwSOGOOoLp68=s200"
          class="me-2"
          height="45"
          alt="shopsy Logo"
          loading="lazy"
        />
        <small><i><strong>SHOPSY.com</strong></i></small>
      </a>
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" [routerLink]="['login']"      id="pills-login-tab" data-bs-toggle="pill" data-bs-target="#pills-login" type="button" role="tab" aria-controls="pills-login" aria-selected="true"><i class="fas fa-user-circle"></i></button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" [routerLink]="['register']" id="pills-register-tab" data-bs-toggle="pill" data-bs-target="#pills-register" type="button" role="tab" aria-controls="pills-register" aria-selected="false"><i class="fas fa-users"></i></button>
        </li>
        <!-- <li class="nav-item" role="presentation">
          <button class="nav-link" [routerLink]="['home-page']" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="false">View Home Page</button>
        </li> -->
        <!-- <li class="nav-item" role="presentation">
          <button class="nav-link" [routerLink]="['/category']" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="false"><i class="fas fa-user-lock"></i></button>
        </li> -->
        <li class="nav-item" role="presentation">
          <button class="nav-link" [routerLink]="['/about-us']" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="false"><i class="fas fa-info-circle"></i></button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" [routerLink]="['/contact-us']" id="pills-register-tab" data-bs-toggle="pill"
            data-bs-target="#pills-register" type="button" role="tab" aria-controls="pills-register"
            aria-selected="false"><i class="fas fa-phone-alt"></i></button>
        </li>
        <ul></ul>
      <ul></ul>
      <ul></ul>
      <ul></ul>
      <ul></ul>
      
      </ul>

      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">...</div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">...</div>
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
      </div>
      
    </div>

      
    
    
    
  </nav>
  <p><marquee style="color:rgb(116, 116, 117)">Hurry Up ! To avail the best products of your choice with reliable benefits only for you.
    Place Order of your choice making smooth transactions and getting items at your door step as soon as possible.</marquee></p>
  
  <div class="bg-text"> 
    <h1><strong> <i>WELCOME TO SHOPSY</i></strong></h1>
    <br>
    <p style="color:darkgrey"><i>The goto platform for your best shopping experience</i></p>
     <p >
    </p>  
    <br>
    <div class="d-flex justify-content-center ">
      <button type="submit" class="btn btn-danger btn-sm" [routerLink]="['home-page']" ><i class="fas fa-shopping-bag"></i> Shop Now</button>
    </div>
   </div> 



  <footer class="bg-dark text-center text-white" >
    
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-white" >Online Shopping - SHOPSY.com</a>
    </div>
    <!-- Copyright -->
  </footer>

