<div class="noise"></div>
<div class="overlay"></div>
<div class="terminal">
    <br>
    <br>
    <br>
    <br>

  <h1> <span class="errorcode">Error 404</span></h1>
  <br>
  <p class="output">The page you are looking for might have been removed, had its name changed or is temporarily unavailable.</p>
  <p class="output">Please try to <a href="#1">go back</a> or <a href="#2">return to the homepage</a>.</p>
  <p class="output">Good luck.</p>
</div>

<footer class="bg-dark text-center text-white" >
    
  
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white" >Online Shopping - SHOPSY.com</a>
  </div>
  <!-- Copyright -->
</footer>