footer{
    position:absolute;
    bottom: 0px;
    width:100%;
    padding:1px;

  }
  content{
    color:aliceblue;
    
  }
  

body {
  font-family: 'Roboto', sans-serif!important;
margin:0;
padding:0;
box-sizing: border-box;
}

/* .mainscreen
{
min-height: 100vh;
width: 100%;
display: flex;
  flex-direction: column;
  background-color: #DFDBE5;
  background-image: url("https://wallpaperaccess.com/full/3063067.png");
  color:#963E7B;
} */


.rightside {
  top: 100px;
  background-color: #2d2b2b;
width: 60rem;
/* border-bottom-right-radius: 1.5rem;
  border-top-right-radius: 1.5rem; */
  padding: 1rem 2rem 3rem 3rem;
  margin-left: 270px;
  color:aliceblue;
}

p{
  text-align: center;
}

.button-1{
  background: linear-gradient(
      135deg
      , #36870a 0%, #176913 100%);
          padding: 8px;
          border: none;
         
          color: white;
          font-weight: 400;
          font-size: 1rem;
          
          width:10%;
          letter-spacing: .11rem;
          outline:none;
          left: 678px;
          bottom:160px;
          position: absolute;
          

}
.button-1:hover
{
transform: scale(1.05) translateY(-3px);
  box-shadow: 3px 3px 6px #38373785;
}
hr {
  border: 2px solid rgb(4, 0, 0);
}


.button{
  background: linear-gradient(
135deg
, #753733 0%, #f02f09 100%);
  padding: 8px;
  border: none;
  
  color: white;
  font-weight: 400;
  font-size: 1rem;
  margin-top: 10px;
  width: 15%;
  letter-spacing: .11rem;
  outline:none;
  left: 650px;
  bottom: 65px;
  position: absolute;
}

.button:hover
{
transform: scale(1.05) translateY(-3px);
  box-shadow: 3px 3px 6px #38373785;
}






@media only screen and (max-width: 1000px) {
  .card{
      flex-direction: column;
      width: auto;
    
  }

  

  .rightside{
      width:auto;
      border-bottom-left-radius: 1.5rem;
      padding:0.5rem 3rem 3rem 2rem;
    border-radius:0;
  }
}

