.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color:white;
    font-weight: bold;
    border: 1px solid #f1f1f1;
    position:absolute;
    top: 14%;
    left: 25%;
    bottom: 19%;
    transform: translate(10%, 5%);
    z-index: 2;
    width: 40%;
    padding: 8px;
    /* text-align: left; */
  }
  footer{
    position:absolute;
    bottom:0;
    width:100%;
    padding:1px;

  }
  .form-center{
    align-items: center;
  }
  .btn-group{
    align-items: center;
  }