footer{
    position:absolute;
    bottom: -70px;
    width: 100%;
    padding:1px;

  }
  content{
    color:rgb(22, 22, 22);
    
  }
  .card-body{
    
    text-align: left;
    color:rgb(5, 5, 5);
    

}
.row{
    margin-left: 400px;
    margin-top: 3%;
   
}
.card{
    margin-top: 10%;
    background-color: rgb(240, 240, 244);
    
    
}

.from-outline{
    text-align: right;
}
h5{
    text-align: center;
    font-size:30px;
    color:rgb(17, 18, 18);
}

.col-md-6{
    margin-left: 250px;
}

.edit{background: linear-gradient(
    135deg
    , #d83218 0%, #da0606 100%);
        padding: 5px;
        border: none;
        
        color: white;
        font-weight: 400;
        font-size: 1rem;
        margin-top: 10px;
        width:15%;
        letter-spacing: .11rem;
        outline:none;
        /* margin-left: 300px; */
        position: absolute;
        left: 300px;
        
        
        

}
.edit:hover
{
transform: scale(1.05) translateY(-3px);
box-shadow: 3px 3px 6px #38373785;
}




.button-1{
    background: linear-gradient(
        135deg
        , #135f13 0%, #186427 100%);
            padding: 7px;
            border: none;
          
            color: white;
            font-weight: 400;
            font-size: 1rem;
            margin-top: 10px;
            width:30%;
            letter-spacing: .11rem;
            outline:none;
            /* margin-left: 300px; */
            position: absolute;
    bottom: 23px;
    left: 250px;
            
            
            

}
.button-1:hover
{
	transform: scale(1.05) translateY(-3px);
    box-shadow: 3px 3px 6px #38373785;
}
